.heroProfileWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroProfileParent {
    width: 200px;
    height: 200px;
    background-color: black;
    border-top-left-radius: 50% 80px;
    border-top-right-radius: 50% 80px;
    border-bottom-right-radius: 50% 80px;
    border-bottom-left-radius: 50% 80px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateClockWise 8s linear infinite;
}

.heroProfileChild {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    transform: rotate(315deg);
    animation: rotateCounterClockWise 8s linear infinite;
}

.heroProfileBorder1 {
    animation: rotateClockWise 10s linear infinite;
    width: 180px;
    height: 190px;
    border-top-left-radius: 60% 150px;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border: 1px solid white;
    position: absolute;
}

.heroProfileBorder2 {
    animation: rotateCounterClockWise 10s linear infinite;
    width: 210px;
    height: 210px;
    border-top-left-radius: 60% 150px;
    border-top-right-radius: 60% 120px;
    border-bottom-right-radius: 60% 140px;
    border-bottom-left-radius: 60% 180px;
    border: 2px dashed black;
    position: absolute;
}

/* SideBarDocker */
.sideBarDkrContainer {
    position: fixed;
    top: 0;
    right: -40vw;
    background-color: rgb(19, 19, 19);
    background-color: rgb(16, 18, 29);
    z-index: 2500;
    padding: 10px;
    height: 100vh;
    width: 40vw;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    transition: .2s ease;
}
.isClicked {
    right: 0;
    transition: 0s;
}
.sideBarDkrContainer > div:nth-of-type(1) {
    height: 60%;
    color: white;
    /* background-color: red; */
}
.sideBarDkrContainer > div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    position: relative;
}
.sideBarDkrContainer > div:nth-of-type(2) > div {
    border: 2px dashed white;
}
.sideBarDkrContainer:hover > div:nth-of-type(2) > div:nth-of-type(1) {
    left: -10px;
    z-index: 10;
    transform: rotate(15deg);
    margin-bottom: 30px;
    transition: .45s ease;
}
.sideBarDkrContainer:hover > div:nth-of-type(2) > div:nth-of-type(2) {
    left: -180px;
    /* z-index: 10; */
    transform: rotate(30deg);
    /* margin-bottom: 30px; */
    transition: .3s ease;
}
.sideBarDkrContainer:hover > div:nth-of-type(2) > div:nth-of-type(3) {
    left: 20px;
    transform: skew(-8deg, 34deg);
    transform: rotate(35deg);
    transition: .5s ease;
    margin-bottom: 30px;
    margin-top: 20px;
}
.sideBarDkrContainer > div:nth-of-type(2) > div:nth-of-type(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(104, 104, 161);
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: rotate(20deg);
    margin-bottom: 20px;
    transition: .3s ease;
}
.sideBarDkrContainer > div:nth-of-type(2) > div:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    left: -120px;
    background-color: rgb(118, 218, 118);
    width: 100%;
    height: 100%;
    /* transform: skew(-5deg, 30deg); */
    transform: rotate(30deg);
    border: none;
    padding: 5px;
    transition: .3s ease;
}
.sideBarDkrContainer > div:nth-of-type(2) > div:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(218, 118, 118);
    width: 100%;
    height: 100%;
    transform: skew(-40deg, 40deg);
    z-index: 11;
    margin-bottom: -20px;
    transition: .3s ease;
}
.sideBarDkrContainer > div:nth-of-type(2) > div:nth-of-type(2) > div {
    border: 2px dashed rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

@keyframes rotateClockWise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateCounterClockWise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* media queries */
@media (max-width: 425px) {
    .sideBarDkrContainer {
        width: 55vw;
    }
    .sideBarDkrContainer:hover > div:nth-of-type(2) > div:nth-of-type(3) {
        left: 20px;
        transform: skew(-8deg, 34deg);
        transform: rotate(25deg);
        transition: .6s ease;
        /* margin-bottom: 50px;
        margin-right: 20px; */
        /* margin-top: 20px; */
    }
    .sideBarDkrContainer:hover > div:nth-of-type(2) > div:nth-of-type(2) {
        left: -150px;
        transform: rotate(30deg);
        transition: .3s ease;
    }
}