@keyframes wobble {
    0% { transform: scale(1); }
    50% { transform: scale(.85); }
    /* 50% { transform: scale(0.9); } */
    /* 75% { transform: scale(1.05); } */
    100% { transform: scale(1); }
}

.wobble {
    animation: wobble 0.2s ease;
}

.paginationContainer {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 100;
}

.dot {
    width: 12px;
    height: 12px;
    /* border-radius: 50%; */
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #051725;
    /* border: 2px solid rgba(255, 255, 255, 0.5);
    border: 2px solid #113555;
    border: 2px solid #255075; */
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

.activeDot {
    background-color: white;
    background-color: #051725;
    border-color: white;
    border: 1px solid #113555; /* this is for the transition effect when navigating "border effect" */
    transform: scale(1.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px 2px #113555;
    scale: calc(1.5);
}

.paginationBtn {
    animation: bounce 0.5s ease-in-out;
    animation: fadeIn 0.3s ease-out forwards;
    transition: 0.3s ease-in-out;
}

.paginationBtnInactive {
    opacity: 0.5;
    animation: none;
    transition: none;
}

.paginationBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
    animation: bounce 0.5s ease-in-out;
    transition: all 0.3s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}