.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #255075;
    width: 100%;
    min-height: 100vh;
}

.contentContainer {
    width: 100%;
    padding: 2rem;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 20vh;
}

.hundred_vh{
    min-height: 100vh;
}
